[submodule "FDC-Client"]
	path = FDC-Client
	url = git@github.com:SharedGeo/FDC-Client.git
[submodule "FDC-Docs"]
	path = FDC-Docs
	url = git@github.com:SharedGeo/FDC-Docs.git
[submodule "FDC-Server"]
	path = FDC-Server
	url = git@github.com:SharedGeo/FDC-Server.git
[submodule "docker-postgis"]
	path = vendor/docker-postgis
	url = https://github.com/postgis/docker-postgis
