[submodule "FDC-Client"]
	path = FDC-Client
	url = ../FDC-Client.git
[submodule "FDC-Docs"]
	path = FDC-Docs
	url = ../FDC-Docs.git
[submodule "FDC-Server"]
	path = FDC-Server
	url = ../FDC-Server.git
[submodule "docker-postgis"]
	path = vendor/docker-postgis
	url = https://github.com/postgis/docker-postgis
